In [3]:
import json
import pandas

In [11]:
# The following code should open the three given files as data files and store them into 3 variables

with open('0a58ef5a-9f01-49bc-9bb7-f13ab042b80f_noPII.json') as data_file:
    data1 = json.load(data_file)
    
with open('0ab502fb-87e9-4764-8bc8-778da2e2bcfb_noPII.json') as data_file:
    data2 = json.load(data_file)
    
with open('0be25f06-b139-424d-8f78-f945dd32f1c9_noPII.json') as data_file:
    data3 = json.load(data_file)

In [16]:
# Now we want to go to a specific part of the file
# This one specifically is to find the accounts

df_accounts = pandas.json_normalize(data, record_path = ['AccountAllocations','Accounts'])[['Key','Description']]
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [41]:
# This block of code is to find the percent allocations for the first file.

df_allocations1 = pandas.json_normalize(data1, record_path = ['AccountAllocations','Accounts','FutureAllocations'], meta = [['AcountAllocations','Accounts','Key'],['AcountAllocations','Accounts','Description']])[['AcountAllocations.Accounts.Description','AllocationPct']]
df_allocations1

  AcountAllocations.Accounts.Description  AllocationPct
0                                  Fixed            0.0
1                                FixedLT            0.0
2                 1-Year Indexed Account            0.0
3          1-Year No Cap Indexed Account            0.0
4   1-Year High Cap Plus Indexed Account            0.0
5                       Variable Account          100.0

In [50]:
# This block of code is to find the percent allocations for the second and third file.

df_allocations2 = pandas.json_normalize(data2, record_path = ['AccountAllocations','Accounts','FutureAllocations'], meta = [['AcountAllocations','Accounts','Key'],['AcountAllocations','Accounts','Description']])[['AcountAllocations.Accounts.Description','AllocationPct']]
df_allocations3 = pandas.json_normalize(data3, record_path = ['AccountAllocations','Accounts','FutureAllocations'], meta = [['AcountAllocations','Accounts','Key'],['AcountAllocations','Accounts','Description']])[['AcountAllocations.Accounts.Description','AllocationPct']]

In [51]:
# This block of code merges the different percentages into one data frame

mergedAllocations = df_allocations1.merge(df_allocations2, on = 'AcountAllocations.Accounts.Description')
mergedAllocations = mergedAllocations.merge(df_allocations3, on = 'AcountAllocations.Accounts.Description')
mergedAllocations

,AcountAllocations.Accounts.Description,AllocationPct_x,AllocationPct_y,AllocationPct
0,Fixed,0.0,0.0,0.0
1,FixedLT,0.0,0.0,0.0
2,1-Year Indexed Account,0.0,0.0,0.0
3,1-Year No Cap Indexed Account,0.0,0.0,0.0
4,1-Year High Cap Plus Indexed Account,0.0,0.0,0.0
5,Variable Account,100.0,100.0,100.0

In [52]:
df_riders = pandas.json_normalize(data, record_path = ['Riders'])
df_riders

,Idx,Category,Name,Remark
0,1,Automatic,Conversion Rider,NaN
1,2,Automatic,Minimum Indexed Benefit Rider,NaN
2,3,Automatic,Overloan Protection 3 Rider,NaN
3,4,Optional,Accelerated Death Benefit Rider for Chronic an...,Check Opt Out
4,5,Automatic,No Lapse Guarantee Rider (Short-Term No Lapse ...,NaN
5,6,Optional,Accelerated Death Benefit Rider for Terminal I...,Added